*{
  margin: 0;
  padding: 0;
}

:root{
  font-family: "Alice", serif;
  line-height: 150%;
}


body{
  background-image: url(assets/bg-image\ \(1\).jpg);
  background-size: cover;
}

#page{
  width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  margin: 49px auto;
}
main{
  padding: 24px;
}
#about p + p{
   margin-top: 12px;
}
section + section{
  margin-top: 24px;

}

img{
  
  border-radius: 16px;
}

h1{
  line-height: 140%;
  font-size: 40px;
  color: #291B1A;
    margin-bottom: 4px;
}
h2{
  font-size: 24px;
  color: #291B1A;
  margin-bottom: 4px;
}
ul{
  padding-left: 27px; 

}